.centerfy {
	margin: auto;
	text-align: center;
}

body {
	background-image: url("/images/tartan_background.png");
	/*background-color: #FFFBF6;*/
}

.vert-padding {
	margin-top: 15px;
	margin-bottom: 15px;
}
